.app-container {
  display: flex;
  /* border: 1px solid red; */
}

.sidebar {
  width: 30vw;
  padding: 1rem;
  background-color: #f8f9fa;
  overflow-y: auto;
  border-left: 1px solid #ddd;
}

.sidebar h3 {
  margin-bottom: 1rem;
}

.pin-form {
 
  padding: 1rem;
  border-radius: 0.5rem;
}

.map-container{

}
